<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h2> Dispatch: </h2>
     {{ data1 }}
     {{ div_placeholder1 }}
     {{ div_placeholder2 }}
     {{ div_placeholder3 }}
     {{ div_placeholder4 }}
     {{ div_placeholder5 }}
     {{ div_placeholder6 }}
     {{ div_placeholder7 }}
     {{ div_placeholder8 }}
     {{ div_placeholder9 }}
     {{ div_placeholder10 }}
     {{ div_placeholder11 }}
     {{ div_placeholder12 }}
     {{ div_placeholder13 }}
     {{ div_placeholder14 }}
     {{ div_placeholder15 }}
     {{ div_placeholder16 }}
     {{ div_placeholder17 }}
     {{ div_placeholder18 }}
     {{ div_placeholder19 }}
     {{ div_placeholder19 }}
     {{ div_placeholder20 }}
     {{ div_placeholder21 }}
     {{ data2 }}
     {{ div_placeholder22 }}
</body>
</html>